{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/account.css') }}
{% endblock %}

{% block content %}
<div class="content">
    <!-- Update/Change Orders -->
    <h2>Order History</h2>
    <table>
        <thead>
            <th>Order ID</th>
            <th>Shipping Address</th>
            <th>Status</th>
            <th>Price</th>
            <th></th>
        </thead>
        <tr>
            <td>39480203984</td>
            <td>7920 E Customer Lane, Los Angeles, CA 90210</td>
            <td>Shipped</td>
            <td>$54.38</td>
            <td><button class="btn btn-primary">Return</button></td>
        </tr>
        <tr>
            <td>222302093</td>
            <td>2 E Customer Lane, Los Angeles, CA 90210</td>
            <td>Arrived</td>
            <td>$1004.38</td>
            <td><button class="btn btn-primary">Return</button></td>
        </tr>
        <tr>
            <td>092119836</td>
            <td>893 E Customer Lane, Los Angeles, CA 90210</td>
            <td>Ready for pickup</td>
            <td>$1.38</td>
            <td><button class="btn btn-primary">Return</button></td>
        </tr>
    </table><br>

    <!-- Update Account Details-->
    <h3>Update Account</h3>
    <form action="#">
        <label for="">Update Email<br><input type="email"></label><br>
        <label for="">Change password<br><input type="text"></label><br>
        <label for="">Repeat password<br><input type="text"></label><br>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>

    <!-- Delete Account button -->
    <button id="delete-account-button" class="btn btn-danger">Delete Account</button>
</div>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/account.css') }}
{% endblock %}