{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/account.css') }}
{% endblock %}

{% block content %}
<div class="content">
    {% if info==[] %}
    <h2>No account found</h2>
    <p>The url needs to be /account/account_number</p>
    <p>To view the account numbers for each customer visit the <a href="/admin">admin page</a>.</p>
    {% else %}
    <!-- Update/Change Orders -->
    <h2>Order History</h2>
    <table>
        <thead>
            <th>Order ID</th>
            <th>Shipping Address</th>
            <th>Status</th>
            <th>Order Placed</th>
            <th></th>
        </thead>
        {% for order in orders %}
        <tr>
            <td>{{order[0]}}</td>
            <td>{{order[5]}} {{order[6]}}, {{order[7]}} {{order[8]}}</td>
            <!-- order[10] is shipped-->
            {% if order[12]==1 %}
            <td>Delivered</td>
            {% elif order[9]==1%}
            <td>Shipped</td>
            {% else %}
            <td>At warehouse</td>
            {% endif %}
            <td>{{order[13]}}</td>
            <td><button class="btn btn-primary">Return</button></td>
        </tr>
        {% endfor %}
    </table><br>

    <!-- Update Account Details-->
    <h3>Update Account</h3>
    <form action="#">
        <label for="">Update Email<br><input type="email" value="{{info[0][3]}}"></label><br>
        <label for="">Change password<br><input type="text" value="{{info[0][4]}}"></label><br>
        <label for="">Repeat password<br><input type="text" value="{{info[0][4]}}"></label><br>
        <label for="">Change phone number<br><input type="text" value="{{info[0][5]}}"></label><br>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>

    <!-- Delete Account button -->
    <button id="delete-account-button" class="btn btn-danger">Delete Account</button>
    {% endif %}
</div>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/account.js') }}
{% endblock %}