{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/account.css') }}
{% endblock %}

{% block content %}
<div class="content">
    <!-- Update/Change Orders -->
    <h2>Order History</h2>
    <table>
        <thead>
            <th>Order ID</th>
            <th>Shipping Address</th>
            <th>Status</th>
            <th>Price</th>
            <th></th>
        </thead>
        {% for order in orders %}
        <tr>
            <td>{{order[1]}}</td>
            <td>{{order[2]}}</td>
            <td>{{order[3]}}</td>
            <td>${{order[4]}}</td>
            <td><button class="btn btn-primary">Return</button></td>
        </tr>
        {% endfor %}
    </table><br>

    <!-- Update Account Details-->
    <h3>Update Account</h3>
    <form action="#">
        <label for="">Update Email<br><input type="email" value="{{info[0][3]}}"></label><br>
        <label for="">Change password<br><input type="text" value="{{info[0][4]}}"></label><br>
        <label for="">Repeat password<br><input type="text" value="{{info[0][4]}}"></label><br>
        <label for="">Change phone number<br><input type="text" value="{{info[0][5]}}"></label><br>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>

    <!-- Delete Account button -->
    <button id="delete-account-button" class="btn btn-danger">Delete Account</button>
</div>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/account.js') }}
{% endblock %}