{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/admin.css') }}
{% endblock %}

{% block content %}
<h1>Administrator Dashboard</h1>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Product Inventory Management</h2>
    <h3 class="card-subtitle text-muted">Update the current product.</h3>
    <form action="/admin/update-product/{{ product[0] }}/" method="POST" id="update-product-form">
      <div class="form-group">
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Category</th>
              <th>Vendor</th>
              <th>Price</th>
              <th>Qty Available</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- Product name field -->
              <td>
                <input type="text" id="product-name" name="product-name" value="{{ product[1] }}" required>
              </td>
              <!-- Category field -->
              <td>
                <input type="text" id="category" name="category" value="{{ product[2] }}" required>
              </td>
              <!-- Vendor field -->
              <td>
                <input type="text" id="vendor" name="vendor" value="{{ product[3] }}" required>
              </td>
              <!-- Price field -->
              <td>
                <input type="text" id="price" name="price" value="{{ product[4] }}" required>
              </td>
              <!-- Quantity available field -->
              <td>
                <input type="text" id="qty-available" name="qty-available" value="{{ product[6] }}" required>
              </td>
              <!-- Image field -->
              <td>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg, .webp, .tiff, .tif" value="{{ product[5] }}" required>
              </td>
            </tr>
            <tr>
              <td id="update-product-cell">
                <button type="submit" class="btn btn-success">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>  
  </div>
</div>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/admin.js') }}
{% endblock %}