{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/admin.css') }}
{% endblock %}

{% block content %}
<h1>Administrator Dashboard</h1>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Customer List</h2>
    <h3 class="card-subtitle text-muted">A list of all customers in the database.</h3>
    <table id="customer-table">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Phone number</th>
        </tr>
      </thead>
      <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{ customer[1] }}</td>
          <td>{{ customer[2] }}</td>
          <td>{{ customer[3] }}</td>
          <td>{{ customer[4] }}</td>
          <td>{{ customer[5] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">List customer orders</h2>
    <h3 class="card-subtitle text-muted">Enter a customer's ID below to show all orders belonging to the customer.</h3>
    <form action="/admin/show-orders/" method="POST">
      <div class="form-group">
        <label for="customer-id">Customer ID</label><br>
        <input type="text" id="customer-id" name="customer-id" required>
      </div>
      <button type="submit" class="btn btn-primary" id="customer-search-btn">Search</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Product Inventory Management</h2>
    <h3 class="card-subtitle text-muted">Add, update, or delete products from the inventory.</h3>
    <form id="add-new-product-form">
      <div class="form-group">
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Category</th>
              <th>Vendor</th>
              <th>Price</th>
              <th>Qty Available</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" id="new-product-name" name="new-product-name" required">
              </td>
              <td>
                <input type="text" id="new-category" name="new-category" required">
              </td>
              <td>
                <input type="text" id="new-vendor" name="new-vendor" required>
              </td>
              <td>
                <input type="text" id="new-price" name="new-price" required>
              </td>
              <td>
                <input type="text" id="new-qty-available" name="new-qty-available" required>
              </td>
              <td>
                <input type="file" id="new-image" name="new-image" accept="image/png, image/jpeg, .webp, .tiff, .tif" required>
              </td>
            </tr>
            <tr>
              <td id="new-product-cell">
                <button type="button" class="btn btn-primary" id="new-product-btn">Add product</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Category</th>
          <th>Vendor</th>
          <th>Price</th>
          <th>Qty Available</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product[1] }}</td>
          <td>{{ product[2] }}</td>
          <td>{{ product[3] }}</td>
          <td>{{ product[4] }}</td>
          <td>{{ product[6] }}</td>
          <td>{{ product[5] }}</td>
          <td>
            <button type="button" class="update-btn">Update</button>
            <button type="button" class="delete-btn">Delete</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>    
  </div>
</div>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/admin.js') }}
{% endblock %}