{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/cart.css') }}
{% endblock %}

{% block content %}        
<div id="cart-items" class="container">
    <div class="row">
        <div class="list-group col-2" id="Carts">
            <ul>
                <li class="list-group-item">Carts</h2>
                <li class="list-group-item"><a href="#">Cart</a></li>
                <li class="list-group-item"><a href="#">Kayak Wishlist</a></li>
                <li class="list-group-item"><a href="#">Backcountry Wishlist</a></li>
                <li class="list-group-item"><a href="#">+ New Cart</a></li>
            </ul>
        </div>
        <div class="col-10" id="product-grid">
            <form action="order.html">
            <h2 id="cart-name">Cart</h2>
            <ul class="">
                <li class="">
                    <a href="product.html">
                    <img src="#" alt="product 1 image">
                    </a>
                    <p>Product 1 Name</p>
                    <label class="qty-label" for="">Quantity: <input class="qty-input" type="number"></label>
                    <button class="btn btn-primary remove-btn">Remove From Cart</button>
                </li>
                <li class="">
                    <a href="product.html">
                    <img src="#" alt="product 1 image">
                    </a>
                    <p>Product 2 Name</p>
                    <label class="qty-label" for="">Quantity: <input class="qty-input" type="number"></label>
                    <button class="btn btn-primary remove-btn">Remove From Cart</button>
                </li>
                <li class="">
                    <a href="product.html">
                    <img src="#" alt="product 1 image">
                    </a>
                    <p>Product 3 Name</p>
                    <label class="qty-label" for="">Quantity: <input class="qty-input" type="number"></label>
                    <button class="btn btn-primary remove-btn">Remove From Cart</button>
                </li>
                <li class="">
                    <a href="product.html">
                    <img src="#" alt="product 1 image">
                    </a>
                    <p>Product 4 Name</p>
                    <label class="qty-label" for="">Quantity: <input class="qty-input" type="number"></label>
                    <button class="btn btn-primary remove-btn">Remove From Cart</button>
                </li>
                <li class="">
                    <a href="product.html">
                    <img src="#" alt="product 1 image">
                    </a>
                    <p>Product 5 Name</p>
                    <label class="qty-label" for="">Quantity: <input class="qty-input" type="number"></label>
                    <button class="btn btn-primary remove-btn">Remove From Cart</button>
                </li>
            </ul>
            <button class="btn btn-danger" type="">Delete Cart</button>
            <button class="btn btn-primary" type="submit">Checkout</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/cart.js') }}
{% endblock %}