{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/contact.css') }}
{% endblock %}

{% block content %}
<div id="content">
    <h2>Help</h2>
    <img id="helpDeskImage" src="images/helpDeskEmployee.jpg" alt="Help desk employee">
    <p>
        Our helpful staff is here to help with any questions or 
    </p>

    <h2>FAQs</h2>
    <h3>How do I make a return?</h3>
    <p>Please locate your order number and payment information on hand, then contact our helpful help desk staff at the number or email above.</p>

    <h3>When will my package arrive?</h3>
    <p>Never, because you haven't been charged. This website doesn't actually sell anything... yet.</p>

    <h3>Who made this awesome website?</h3>
    <p>Tiothy Yoon and Josh Kaiser made this website for their CS 340 project.</p>
</div>
<hr>
<footer>
    <span>Photo by <a href="https://unsplash.com/@evphotocinema?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Evan Dvorkin</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</footer>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/contact.js') }}
{% endblock %}