{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/index.css') }}
{% endblock %}

{% block content %}
<div id="products" class="container">
    <div class="row">
        <div class="list-group col-2" id="categories">
            <form action="/" method="POST">
                <li class="list-group-item">Filters</h2>
                <li class="list-group-item">Categories</h2>
                <li class="list-group-item"><button class="btn btn-primary" type="submit" name="category" value="">All categories</button></li>
                {% for c in categories %}
                <li class="list-group-item"><button class="btn btn-primary" type="submit" name="category" value="{{c}}">{{c}}</button></li>
                {% endfor %}
                <!-- Filter by price -->
                <li class="list-group-item">Price</li>
                <li class="list-group-item"><label for="">Minimum $<input type="number" name="min-price" value="{{filters[0]}}"></label></li>
                <li class="list-group-item"><label for="">Maximum $<input type="number" name="max-price" value="{{filters[1]}}"></label></li>
                <!-- Submit button -->
                <li class="list-group-item"><button class="btn btn-primary" type="submit" name="submit" value="">Search</button></li>
            </form>
        </div>

        <div class="col-10" id="product-grid">
            <ul>
                {% for r in rows %}
                <li>
                    <a href="product/{{r[0]}}">
                    <img src="{{r[5]}}" alt="product image">
                    <p>{{r[1]}}</p>
                    <p>{{r[2]}}</p>
                    <p>{{r[3]}}</p>
                    <p>${{r[4]}}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
 
{% block js_file%}
{{ url_for('static', filename='js/index.js') }}
{% endblock%}