{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/product.css') }}
{% endblock %}

{% block content %}
<form action="/product" method="POST">
  <div class="container">
    <!-- Product image, title, and other info -->
    <div class="row">
      <div class="col-3" id="product-image-container">
        <img src="static/images/220x300-placeholder.png" alt="Product Image">
      </div>
      <div class="col-9">
        <div class="row">
          <h1>Product 1</h1>
        </div>
        <div class="row">
          <table class="table" id="product-table">
            <tbody>
              <tr>
                <td>Available:</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>$5.00</td>
              </tr>
              <tr>
                <td><label for="quantity-to-order">Quantity</label></td>
                <td><input type="number" value="1" id="quantity-to-order" name="quantity-to-order" min="1" max="100"></td>
              </tr>
              <tr>
                <td>Sold by:</td>
                <td>Vendor 1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
    <!-- Product description -->
    <div class="row">
      <p id="product-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident enim fugit ipsam rem aut
         nemo facilis amet iste voluptate rerum ipsum ipsa exercitationem, quam cum ad error vitae.
         Expedita, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
         temporibus voluptas accusantium vero quo voluptatem recusandae quaerat, doloribus illum,
         similique ea repellat id nam beatae consequuntur nobis quam minima corrupti. Lorem
         ipsum dolor sit amet consectetur adipisicing elit. Laudantium inventore maiores
         voluptatem magni, nam sed natus error quos illum vero quaerat rerum assumenda
         perferendis ratione laborum recusandae impedit eos et?
      </p>
    </div>
  </div>
</form>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/product.js') }}
{% endblock %}