{% extends "layouts/main.html" %}

{% block css_file %}
{{ url_for('static', filename='styles/signin.css') }}
{% endblock %}

{% block content %}
  <!-- Form for customer sign-in -->
  <form action="/signin/" method="GET" class="sign-in-form">
    <div class="container" id="outer-container">
      <div class="row" id="inner-container">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <h1>Sign-In</h1>
              <p>Note: This feature does not currently work.</p>
            </div>
          </div>
          <div class="row" id="sign-in-email">
            <div class="col-6">
              <label for="sign-in-email-field">Email address</label><br>
              <input type="email" id="sign-in-email-field" class="input" name="sign-in-email-field" required>  
            </div>
          </div>
          <div class="row" id="sign-in-password">
            <div class="col-6">
              <label for="sign-in-password-field">Password</label><br>
              <input type="password" id="sign-in-password-field" class="input" name="sign-in-password-field" required>  
            </div>
          </div>
          <div class="row" id="sign-in-button-container">
            <div class="col-6">
              <input type="submit" id="sign-in-button" value="Continue">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <hr>
  <!-- Form for customer sign-up -->
  <form action="/signin" method="POST" class="sign-up-form">
    <div class="container" id="outer-container">
      <div class="row" id="inner-container">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <h1>Sign-Up</h1>
            </div>
          </div>
          <div class="row" id="sign-up-fname">
            <div class="col-6">
              <label for="sign-up-fname-field">First name</label><br>
              <input type="text" id="sign-up-fname-field" class="input" name="sign-up-fname-field" required>
            </div>
          </div>
          <div class="row" id="sign-up-lname">
            <div class="col-6">
              <label for="sign-up-lname-field">Last name</label><br>
              <input type="text" id="sign-up-lname-field" class="input" name="sign-up-lname-field" required>
            </div>
          </div>
          <div class="row" id="sign-up-email">
            <div class="col-6">
              <label for="sign-up-email-field">Email address</label><br>
              <input type="email" id="sign-up-email-field" class="input" name="sign-up-email-field" required>
            </div>
          </div>
          <div class="row" id="sign-up-password">
            <div class="col-6">
              <label for="sign-up-password-field">Password</label><br>
              <input type="password" id="sign-up-password-field" class="input" name="sign-up-password-field" required>  
            </div>
          </div>
          <div class="row" id="sign-up-confirm-password">
            <div class="col-6">
              <label for="sign-up-confirm-password-field">Confirm password</label><br>
              <input type="password" id="sign-up-confirm-password-field" class="input" name="sign-up-confirm-password-field" required>  
            </div>
          </div>
          <div class="row" id="sign-up-phone-number">
            <div class="col-6">
              <label for="sign-up-phone-number-field">
                <div>Phone number</div>
                <div id="sign-up-phone-number-format">(Format: 000-000-0000)</div>
              </label><br>
              <input type="tel" id="sign-up-phone-number-field" class="input" name="sign-up-phone-number-field" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            </div>
          </div>
          <div class="row" id="sign-up-button-container">
            <div class="col-6">
              <input type="submit" id="sign-up-button" value="Create account">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block js_file %}
{{ url_for('static', filename='js/signin.js') }}
{% endblock %}
