body {
    overflow: scroll;
}

nav {
    background-color: #6a6120;
}

.navbar-text {
    font-size: 1.2em;
    margin: 0 0.9em;
}

.navbar-text:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

#logo_image {
    width: 300px;
}
